<% provide(:title, "Forgot password") %>
<% provide(:single_title, "Forgotten password") %>

<div>
  <div class="form">
  <br>
  <div>
  Enter your email address below and, if it is associated with an account, we will send you a password reset link.
  </div>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.submit "Submit", class: "button button--submit_password_request" %>
    <% end %>
  </div>
</div>
