<% provide(:title, 'Comments') %>
<% provide(:single_title, "Edit your Comment for \'#{@post.title}\'") %>

<section class="comments">
	<%= link_to 'Back', post_comments_path, class: 'comments__back' %>
	<%= render 'form', comment: @comment %>

	<%= link_to 'ðŸ—‘ï¸', [@comment.post, @comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</section>
