<p id="notice"><%= notice %></p>

<section class="comments">
    <article class="container">
		<div class="comments__single">
		<%= @comment.body %>
		</div>
		<footer class="comments__buttons-container--edit">
			<li class="button button--comment_editsecond"><%= link_to '✍️', edit_post_comment_path(@comment.post, @comment) %></li>
			<li class="button button--comment_editsecond"><%= link_to 'Back', post_comments_path %></li>
		</footer>
	</article>
</section>


