<p id="notice"><%= notice %></p>

<section class="comments">
    <article class="container">
		<%= @comment.body %>
		<footer>
			<span><%= link_to 'Edit', edit_post_comment_path(@comment.post, @comment) %></span>
			<span><%= link_to 'Back', post_comments_path %><span>		
		</footer>
	</article>
</section>


