<span class="users__single--container">
  <div class="users__gravatar"> 
    <%= gravatar_for user, size: 50 %>
  </div>
    <% if logged_in? %>
    <div class="users__username">
      <%= link_to user.name, user %>
    </div>
    <% else %>
    <div>
      <strong><%= user.name %></strong> - <em>log in to view full profile</em>
    </div>
    <% end %>
</span>
