<li>
  <%= gravatar_for user, size: 50 %>
  <% if logged_in? %>
    <%= link_to user.name, user %>
  <% else %>
    <strong><%= user.name %></strong> - <em>log in to view full profile</em>
  <% end %>
</li>
