<% provide(:title, 'All Users') %>
<% provide(:single_title, 'Our Bloggers') %>
<div class = "users__pages-container">
<%= will_paginate @users, :previous_label => '&laquo;', :next_label => '&raquo;' %>
</div>

<ul class="users__container">
  <%= render @users %>
</ul>

<%= will_paginate @users, :previous_label => '&laquo;', :next_label => '&raquo;' %>
