.alert {
  background-image: url("./header2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  border: 2px solid colour("cta","font");
  border-radius: 0.4em;
  color: $white;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  margin-left: 1.5em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  width: 25%;
}

