.button {

  input[type=submit] {
    font-size: 1.4em;
  }

  $button-palettes: (secondary cta attention);

  background-color: rgba(colour("cta","main"), 0.8);
  border: 0;
  border-radius: 0.25em;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.1em;
  margin-left: 40%;
  padding: 1em;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $white;
  }

  &--create_post {
  color: colour("cta","font");
  font-size: 1.2em;
  margin-left: 0;
  }

  &--delete_post {
    border: 2px solid colour("cta","font");
    font-size: 1.6em;
    margin-left: 0;
    padding: 0.3em;
    }

  &--save_post {
    color: colour("cta","font");
    font-size: 1.2em;
    }

  &--vote_post {
    background-color: colour("cta","font");
    font-size: 1.4em;
    margin-left: 0;
    padding: 0.3em;
    }
}
