.comments {

	&__buttons-container {
		display: flex;
		padding: 1em 0 0.5em 42%;

		&--edit {
			margin-left: 40%;
		}
	}


	&__single {
    background-color: $white;
    border: 2px solid colour("cta","font");
    border-radius: 3rem;
    border-style: ridge;
    color: colour("cta","font");
		justify-content: space-around;
		line-height: 2.5;
    margin: 1%;
    min-height: 3em;
    padding: 0.8em;
    text-align: center;
	}

	max-width:800px;
	padding:2rem;

	.container {

		padding-bottom:2rem;

		header {

			padding:0.5rem;

			span {

				display:inline-block;
				font-size:0.9rem;
				font-weight:bold;

				&:nth-child(2) {
					float:right;
				}
			}
		}
		main {
			padding:0.5rem;
		}
		footer {
			padding:0.5rem;
		}
	}
}