.comments {

   &__container {
     background-color: blue;
   }
   &__single {
     background-color: $white;
     border: 0.1em solid colour("cta","main");
    border-radius: 0.4em;
    background-color: colour("greys","light");
   }
}