.footer {
  background-image: url("./footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  height: 2em;
  left: 0;
  padding: 0.3em;
  // position:absolute;
  width: 100%;
}