.form {
font-size: 1rem;

&--log_in {
  margin-top: 3em;
}

  input[type=text] {
    border: 0.1em solid colour("cta","main");
    border-radius: 0.4em;
    background-color: colour("greys","light");
    font-size: 0.8em;
    margin-top: 0.5em;
    outline: none;
    padding: 12px 20px;
    width: 87%;
  }

  input[type=text]:focus {
    background-color: lightblue;
  }

  input[type=email] {
    border: 0.1em solid colour("cta","main");
    border-radius: 0.4em;
    background-color: colour("greys","light");
    font-size: 0.8em;
    margin-top: 0.5em;
    outline: none;
    padding: 12px 20px;
    width: 25%;
  }

  input[type=email]:focus {
    background-color: lightblue;
  }

  input[type=password] {
    border: 0.1em solid colour("cta","main");
    border-radius: 0.4em;
    background-color: colour("greys","light");
    font-size: 0.8em;
    margin-top: 0.5em;
    outline: none;
    padding: 12px 20px;
    width: 20%;
  }

  input[type=password]:focus {
    background-color: lightblue;
  }

  input[type=checkbox]{
    height: 2.4em;
    position: relative;
    top: 0.7em;
    width: 2.4em;
  }

  &__container {
    background-color: rgba(colour("cta","main"),0.3);
    border-radius: 5px;
    padding: 20px;
    padding-left: 9em;
  }

  &__label {
   font-size: 1.6em;
  }

  &__confirmation {
    background-color: green;
   }

  textarea {
    background-color: colour("greys","light");
    border: 0.1em solid colour("cta","main");
    border-radius: 0.4em;
    box-sizing: border-box;
    font-size: 0.8em;
    height: 150px;
    outline: none;
    margin-top: 0.5em;
    padding: 12px 20px;
    resize: none;
    width: 90%;
  }

  textarea:focus {
    background-color: lightblue;
  }

  &--comment {
    textarea {
      font-size: 1.6em;
      height: 4em;
      margin-left: 4%;
      width: 90%;

    }
  }

  &--create_account {
    input[type=text] {
      margin-left: 6.1em;
      margin-top: 2em;
      width: 30%;
    }

    input[type=email] {
      margin-left: 5.3em;
      width: 30%;
    }

    input[type=password] {
      margin-left: 3em;
      width: 30%;
    }
  }
}
