.container {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(colour("cta","main"),0.3);
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  width: 100%
}

