.nav {
  background-image: url("./header3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1em;
  padding: 0.4em;
  padding-top: 0.8em;
  padding-bottom: 2em;

  @include max-width(m) {
    height: 5em;
    padding: 0.3em;
    padding-bottom: 0.5em;
    padding-left: 0;
    margin-left: 0;
    padding-top: 0.5em;
  }

  &__login-message {
    border:  2px solid colour("cta","main");
    border-radius: 0.6em;
    color: colour("cta","font");
    font-size: 1.2em;
    margin-left: 2.3em;
    margin-top: 1em;
    padding: 0.5em;

    @include max-width(m) {
      background-image: url("./header3.jpg");
      background-repeat: no-repeat;
      font-size: 0.8em;
      margin-left: 0.8em;
    }
  }

  &__link {
    border-right: solid 2px colour("cta","main");
    color: colour("quaternary","font");
    cursor: pointer;
    font-size: 1.4em;
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;

    @include max-width(m) {
      font-size: 0.8em;
      padding: 0 0.4em;
    }

    &--home {
      color: colour("quaternary","font");
      cursor: pointer;
      font-size: 2em;
      list-style-type: none;
      text-align: center;
      text-decoration: none;

      @include max-width(m) {
        font-size: 1em;
        margin-left: -47px;
      }
    }

    &--container {
      display: flex;
      list-style-type: none;
      margin: 1.8em;
      margin-bottom: 2em;
      margin-right: 2em;
      padding-bottom: 2.2em;

      @include max-width(m) {
        margin: 1em;
        margin-left: 4em;
        padding: 0;
      }

      &--others {
        display: flex;
        margin-left: auto;

        @include max-width(m) {
          margin-bottom: 1em;
          margin-left: 0;
        }
      }
    }
  }
}
  //   cursor: pointer;
  //   font-size: 1.2em;
  //   margin-right: 1em;
  //   text-align: center;
  //   text-decoration: none;

//     @include max-width(m) {
//       display: none;
//}

//     @include min-width(m) {
//       font-size: 2em;
//       margin-bottom: auto;
//       margin-top: auto;
//     }

//     @include min-width(l) {
//       font-size: 2em;
//       margin-bottom: auto;
//       margin-top: auto;
//     }

//     @include min-width(xl) {
//       font-size: 2.5em;
//       margin-bottom: auto;
//       margin-top: auto;
//     }

//     &--container {
//       display: flex;
//       justify-content: flex-start;
//       margin: 1em;
//       padding: 0;
//     }
//   }

//   &__logo {
//     margin-left: 0.5em;
//     transform: scale(1.6);

//     @include min-width(l) {
//       height: 4em;
//       margin-left: -0.4em;
//       margin-top: -0.6em;
//     }

//     @include min-width(xl) {
//       height: 6em;
//       margin-left: -0.4em;
//       margin-top: -0.6em;
//     }
//   }

//   &__social-icon-wrapper {
//     display: flex;
//     justify-content: flex-end;
//     margin: auto 1.5em;

//     @include min-width(xl) {
//       padding: 0.5em;
//     }
//   }

//   &__social-icon {
//     margin: 0;
//     transform: scale(0.8);

//     @include min-width(xl) {
//       margin-right: 1em;
//       transform: scale(1);
//     }

//     @include min-width(xxl) {
//       margin-right: 1em;
//     }
//   }
// }
