.post {
  font-size: 1em;
  padding: 0.3em;

  &__body {
    text-align: justify;
    padding: 0 0.8em;
  }

  &__buttons{
    display: flex;
    justify-content: space-between;
    padding-left: 45%;
    padding-top: 1.4em;
    width: 10%;

    @include max-width(m) {
      padding-left: 35%;
    }

    &--home {
      margin-left: -28px;
      padding-left: 0;
    }
  }

  &__log-in-bubble{
    background-color: $white;
    border: 2px solid colour("cta","font");
    border-radius: 3em;
    border-style: ridge;
    color: colour("cta","font");
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 35%;
  }

  &__page {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  &__single {
    background-color: rgba(colour("cta","main"),0.3);
    border: 2px solid colour("cta","font");
    border-radius: 3em;
    border-style: ridge;
    color: colour("cta","font");
    justify-content: space-around;
    margin: 4em -6em 6em -6em;
    min-height: 3em;
    padding: 2em;
    text-align: center;

    @include max-width(m) {
      border-radius: 1em;
      font-size: 1em;
      margin: 2em -4em 3em -4em;
      padding: 0.5em;
    }
  }

  &__title{
    background-image: url("./footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: colour("cta", "font");
    font-size: 2.4em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    text-align: center;
    vertical-align: middle;
  }
}

hr {
  border: solid 0.5px colour("cta","font");
  color: colour("cta","font");
  width: 30em;

  @include max-width(m){
    width: 15em;
  }
}