.posts {
  font-size: 1em;
  padding: 0.3em;

  &__body {
    text-align: justify;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: .5em;
    grid-column-gap: 2em;
    margin-top: 2em;
    min-height: 20em;
    // width: 100%;

  &--link {
    background-image: url("./header3.jpg");
    background-size: 100% 230%;
    border: 2px solid colour("cta","font");
    border-radius: 2em;
    color: colour("cta","font");
    height: 11em;
    float:right;
    overflow:hidden;
    margin-right: 0.8em;
    margin-top: 2.5em;
    padding: 1em;
    text-align: center;
    width:35%;

    @include max-width(m) {
      border-radius: 1em;
      height: 6em;
      padding: 0.1em;
      position: absolute;
      top: 190px;
      width: 95%
     }
    }
  }

  &__dropdown {
    color: colour("cta","font");
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8em;
    margin-bottom: 0.2em;
    margin-left: -1.2em;
    margin-right: 2em;
    outline: none;
    word-spacing: -0.3em;

    @include max-width(m) {
      font-size: 1em;
      padding-left: 2em;
      padding-right: 0;
    }
  }


  &__page {
    display: inline-flex;
    width: 60%;

    @include max-width(m) {
     padding-top: 0;
     width: 100%
    }
  }

  &__search {
    border-radius: 0.4em;
    height: 2.6em;
    margin-bottom: 0.1em;
    margin-left: 1.5em;
    margin-right: 0.5em;
    vertical-align: top;
    width: 18em;

    @include max-width(m) {
      margin-left: 0;
      width: 24em;
    }

    &--container{
      display: flex;
      padding: 2em 0 0;
      padding-left: 72%;
      vertical-align: top;

      @include max-width(m) {
        padding-left: 0;
        padding-top: 9em;
      }
    }
  }

  &__single {
    background-color: rgba(colour("cta","main"),0.3);
    border: 2px solid colour("cta","font");
    border-radius: 3em;
    border-style: ridge;
    color: colour("cta","font");
    justify-content: space-around;
    margin: 1%;
    min-height: 3em;
    padding: 2em;
    text-align: center;

    @include max-width(m) {
      border-radius: 2em;
      padding: 0.5em;
    }
  }

  &__title{
    color: colour("cta", "font");
    font-size: 2em;
    margin-left: 0;
    padding-bottom: 1.5em;
    margin-top: 0;
    padding-top: 1.5em;
    text-align: center;
    vertical-align: middle;

    @include max-width(m) {
      font-size: 1.2em;
    }

    &--container {
      background-image: url("./header5.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

.posts__container {
  float:left;
  width:100%;
  overflow:hidden;
}
