.users {
  display: flex;


  &__buttons-container {
		display: flex;
		padding: 0 0 0.5em 4%;
  }
  
  &__container {
    align-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: .5em;
    grid-column-gap: 2em;
    justify-content: center;
    list-style: none;
    margin-top: 2em;
    min-height: 20em;

    @include max-width(m) {
      padding: 0.3em;
    }
  }

  &__gravatar {
    margin-right: 1em;

    @include max-width(m) {
      margin-right: 1em;
      max-height: 4em;
      max-width: 4em;
    }
  }

  &__gravatar-container {
    display: flex;
    height: 7em;
    line-height: 7em;
  }

  &__logged-in {

    @include max-width(m) {
      padding-right: 4em;
      white-space: pre;
    }
  }

  &__links {
    display: inline-flex;
  }

  &__log_in {
    float:right;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__online {
    display: grid;

    &--link {
      background-color: rgba(green, 0.8);
      border-radius: 0.4em;
      color: $white;
      margin-left: 0;
      margin-right: 0.5em;
      min-width: 4em;
      padding: 10px;

      @include max-width(m){
        margin-left: 0.6em;
        min-width: 10em;
        padding: 3px;
        width: 22%;
      }
    }
  }

  &__pages-container {
    display: inline-flex;
    list-style-type: none;
  }

  &__remove {
    background-color: rgba(red, 0.8);
      border-radius: 0.4em;
      color: $white;
      margin-left: 0;
      margin-right: 0.5em;
      min-width: 4em;
      padding: 10px;

      @include max-width(m){
        margin-left: 0.6em;
        min-width: 10em;
        padding: 3px;
        width: 15%;
        white-space: pre;

      }
  }

  &__search {
    display: flex;
  }

  &__single {
    vertical-align: middle;

    &--container {
      display: inline-flex;

      @include max-width(m) {
        display: contents;
        font-size: 0.8em;
        height: 11em;
        line-height: 2;
        text-align: left;
      }
    }
  }

  &__username {
    margin: auto;
    margin-left: 0.7em;
    vertical-align: middle;

    @include max-width(m) {
      margin-left: 0;
    }
  }
}
